.banner{
    background-image: url("../img/BatmanBeginsHd.jpg");
    background-position: top center;
    background-size: cover;
    padding: 25%;
    position: relative;
    z-index: 1;
}

.banner::after{
    content: '' ;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    top:0;
    left:0;
    opacity: 0.30;
    z-index: -1;
    
}